<div id="container">

  <%= render "header" %>




  <div id="main-left">
    <h1 class="h1_standard">Under Construction</h1>
  </div>

  <div id="main-center">
    <div id="inner-main-left">
      <h1 class="h1_standard">Under Construction</h1>

    </div>

    <div id="inner-main-right">
      <div id="adds">
        <%= render "quickbook_adds" %>
      </div>

    </div>
  </div>
  <%= render "footer" %>

</div>
