<div class="white-bg-container">

  <%= render "header" %>




  <div class="main-left-double">
    <div class="content-banners">

    </div>
    <h1 class="h1_standard">Bookkeeping Services</h1>
    <%= image_tag("../../../images/financial_pics/74895_luxurary.jpg", :class => "img-float-left img-with-border") %>
    <h3>Bookkeeping - Galt, Lodi, Stockton, Elk Grove, Sacramento</h3>

    <p>Scott N. Mota will Rock Your Balance Sheet!
      He'll help your small business succeed by taking care of your bookkeeping and allow you to do what you do best, run your business.
      Each business has special needs, and requires custom individual attention.
      Scott recognizes this, and works closely with his clients to ensure all their needs are met.  </p>

    <div id="intuit-payroll">
    <hr/>
     <h2 class="h2_standard">Bookkeeping with Quickbooks</h2>
      <p>Scott uses Quickbooks for all bookkeeping.  He can either do your bookkeeping for you offsite, or come to your location and set up Quickbooks for you.  He can also assist in helping you learn to use Quickbooks in your business setting.  He'll train you how to use Quickbooks and show you the ropes. </p>


    </div>
<a href="http://quickbooks.intuit.com/product/accounting-software/small-business-accounting-software.jsp?priorityCode=3969702399&kbid=4706&img=quickbooks/box.pro.gold125x123.gif&sub=8076">
<img src="http://qbgdm.intuit.com/affiliates/quickbooks/box.pro.gold125x123.gif" border="0"></a>

  </div>


  <div class="inner-main-right-white-left">
    <div id="adds">
      <%= render "quickbook_adds" %>
    </div>

  </div>

  <%= render "footer" %>


</div>
