<div class="white-bg-container">

  <%= render "header" %>

  <div class="main-left-double">
    <h1 class="h1_standard">Contact Us</h1>


    <div id="google_map">
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=956+Lake+park+ave,+galt+ca+&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=37.188995,70.927734&amp;ie=UTF8&amp;hq=&amp;hnear=956+Lake+Park+Ave,+Galt,+California+95632&amp;ll=38.288995,-121.294048&amp;spn=0.00901,0.017316&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=956+Lake+park+ave,+galt+ca+&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=37.188995,70.927734&amp;ie=UTF8&amp;hq=&amp;hnear=956+Lake+Park+Ave,+Galt,+California+95632&amp;ll=38.288995,-121.294048&amp;spn=0.00901,0.017316&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
    <ul class="list_style_none">
      <li><h3 class="h3_blue">Scott N. Mota:</h3></li>
      <li><strong>956 Lake Park ave</strong></li>
      <li><strong>Galt, CA 95632</strong></li>
    </ul>
  </div>

  <div class="inner-main-right-white-left">
    <div id="contact_phone">
      <h1>Contact Info</h1>

      <p><strong>Scott N. Mota</strong></p>

      <p><em>Bookkeeping - Payroll - Taxes</em></p>
      <ul id="contact-box-list" >
        <li id="li-contact-phone"><strong>Cell: 209-210-8847</strong></li>
        <li id="li-contact-home-phone"><strong>Phone: 209-745-3824</strong></li>
        <li id="li-contact-fax"><strong>Fax: 209-745-3824</strong></li>
        <li id="li-contact-email"><strong>Email: motas@softcom.net</strong></li>
      </ul>
      <br/>
    </div>
    <br/>
    <div id="intuit_logos">
      <a id="intuit_affiliate_logo" href="http://quickbooks.intuit.com/?priorityCode=3969702399&amp;kbid=4706&amp;img=quickbooks/7636-f1_qbg_133x75_05_wg.jpg&amp;sub=">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/7636-f1_qbg_133x75_05_wg.jpg" border="0">
      </a>

      <h3 class="h3_blue">As a QuickBook Authorized Affiliate Scott N. Mota offers Special Discounts.</h3>

      <a href="http://quickbooks.intuit.com/?priorityCode=3969702399&kbid=4706&img=quickbooks/SpreadSheetStickies_120x600_v1.gif&sub=8012">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/SpreadSheetStickies_120x600_v1.gif" border="0"></a>
    </div>

  </div>

  <%= render "footer" %>
</div>