<div class="white-bg-container">

  <%= render "header" %>




  <div class="main-left-double">
    <div class="content-banners">

    </div>
    <h1 class="h1_standard">Payroll Services</h1>
    <%= image_tag("../../../images/checkbook-quickbooks-payroll-lodi-accountant.jpg", :class => "img-float-left img-with-border") %>
    <h3>no hassel payroll? - Rock'n Roll with Scott Mota</h3>

    <p>Feel the Freedom of letting Scott Mota take care your payroll, on time and accurate. Scott Mota uses Quickbooks
      Payroll manage his clients Small Business payroll needs.</p>

    <div id="intuit-payroll">
      <h2 class="h2_standard">Let Scott Mota Rock your payroll - Quickbooks Payroll</h2>
    <hr/>
      <p>So easy, you can confidently focus on running your business.</p>

      <a href="http://payroll.intuit.com/?priorityCode=3969702399&kbid=4706&img=quickbooks/PayE_save_50.00_125x125.gif&sub=8012">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/PayE_save_50.00_125x125.gif" border="0"></a>
      <p>Intuit Payroll is trusted by over $1MM small businesses, more than any other payroll provider.</p>
    </div>


  </div>


  <div class="inner-main-right-white-left">
    <div id="adds">
      <%= render "quickbook_adds" %>
    </div>

  </div>

  <%= render "footer" %>


</div>
