<div class="white-bg-container">


  <%= render "header" %>



  <div class="main-left-double">
    <h1 class="h1_standard">Quickbooks Consulting Services</h1>
    <h3 class="h3_standard">Consulting</h3>
    <ul>
      <li>Computer Consulting</li>
      <li>QuickBooks setup</li>
      <li>QuickBooks phone consultation</li>
      <li>QuickBooks Remote Access</li>
      <li>QuickBooks training</li>
      <li>Software installation</li>
      <li>Software sales</li>
    </ul>

    <h3 class="h3_standard">Scott Mota supports the following software products:</h3>
    <ul>
          <li>QuickBooks</li>
          <li>Simple Start</li>
          <li>Quicken</li>
          <li>TurboTax</li>
          <li>QuickBooks Payroll Products</li>
          <li>Intuit Payroll</li>
    </ul>
    <h2 class="h2_standard">Intuit QuickBooks Accounting Solution - the smartest, easiest way to help your business
      succeed.</h2>
    <a href="http://quickbooks.intuit.com/?priorityCode=3969702399&kbid=4706&img=quickbooks/qb_468x60_compare.gif&sub=8012">
      <img src="http://qbgdm.intuit.com/affiliates/quickbooks/qb_468x60_compare.gif" border="0">
    </a>

    <p>QuickBooks is #1 Small Business Financial Software</p>

    <p>Nearly 70% of users say QuickBooks helps their business to be more profitable. Based on 2008 survey of QuickBooks
      Pro & Premier customers who expressed an opinion.</p>

    <p>QuickBooks Pro 2011 makes accounting easy with tools to organize your finances all in one place. Complete tasks
      like paying employees1), invoicing, bill tracking and check-writing. Track sales and expenses, and easily share
      this data in Word and Excel 2) With QuickBooks Pro, you’ll spend less time on routine tasks and more time on your
      business.</p>


  <div id="main-left-shop-online">

    <table width="600px" border="1" cellspacing="0" cellpadding="0" bordercolor="#91C574">
      <tr>
        <td>

          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="2">
                <a href="http://quickbooks.intuit.com/?img=216&kbid=4706&sub=8012&priorityCode=3969702399"><img src="http://qbgdm.intuit.com/affiliates/storefront/qbstorefrontheader.gif" alt="QuickBooks" width="600" height="178" border="0"/></a>
              </td>
            </tr>
            <tr id="" align="center">
              <td colspan="2">
                <hr color="#91C574"/>
                <!--EDITABLE TEXT-->
                <h1 id="h1_intuit_affiliate_store_front">Intuit QuickBooks</h1>

                <h2 id="h2_intuit_affiliate_store_front">Know Where Your Business Stands</h2>
                <h4 id="h4_intuit_affiliate_store_front">Nearly 70% of users say QuickBooks helped them to be more profitable.*</h4>
                <h5 align="center">- Track every dollar coming in and going out with in-depth reporting<br>

                  - Instantly create invoices, track payments, and manage all expenses</h5>

                <p>(*based on QB Pro and Premier customers surveyed who expressed an opinion)</p>
                <hr color="#91C574"/>
              </td>
            </tr>
            <tr align="center">
              <td> </td>
              <td rowspan="4">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2" align="right">
                      <IMG src="http://qbgdm.intuit.com/affiliates/storefront/header.jpg" alt=header width=410 height=48 border="0">
                    </td>
                  </tr>
                  <tr>

                    <td align="center">

                      <!--PRODUCT SHOTS HERE-->

                      <A href="http://quickbooks.intuit.com/product/accounting-software/small-business-financial-software.jsp?img=216&kbid=4706&sub=&priorityCode=3969702399"><IMG height=125 src="http://qbgdm.intuit.com/affiliates/quickbooks/box.pro.gold125x123.gif" width=125 border=0></A>
                    </td>
                    <td align="left">
                      <A href="http://quickbooks.intuit.com/product/accounting-software/small-business-management-software.jsp?img=216&kbid=4706&sub=&priorityCode=3969702399"><IMG height=125 src="http://qbgdm.intuit.com/affiliates/quickbooks/box.prem.gold125x125.gif" width=125 border=0></A>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <A href="http://payroll.intuit.com/payroll_services/enhanced_payroll.jsp?img=216&kbid=4706&sub=&priorityCode=3969702399"><IMG height=125 src="http://qbgdm.intuit.com/affiliates/quickbooks/14546-r1_qb_epr_08_ws.gif" width=125 border=0></A>
                    </td>
                    <td align="left">
                      <A href="http://payroll.intuit.com/payroll_services/online_payroll.jsp?img=216&kbid=4706&sub=&priorityCode=3969702399">
                        <IMG height=125 src="http://qbgdm.intuit.com/affiliates/quickbooks/QB_IOP_T_Buttons_V1_125x125.gif" width=125 border=0></A>

                      <!--END PRODUCT SHOTS-->        </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr align="center" valign="bottom">
              <td></td>
            </tr>
            <tr align="center" valign="bottom">
              <td></td>
            </tr>
            <tr valign="bottom">
              <td align="left">
                <table width="160" border="1" cellpadding="0" cellspacing="0" bordercolor="#FCC918">
                  <tr>
                    <td>

                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td id="side1" align="center" bgcolor="#0066FF">
                            <a href="http://quickbooks.intuit.com/?img=216&kbid=4706&sub=&priorityCode=3969702399">
                              <!--EDITABLE TEXT-->
          <span style="color:#CC0033"><span style="font-size:120%">Intuit QuickBooks</span><br/>
    Get the best business software solution for your business - Click here to buy and save up to 20%<br/>
    + Free Shipping</span></a></td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle"><br/>
                            <br/>
                            <a href="http://quickbooks.intuit.com/product/accounting-software/small-business-software.jsp?img=216&kbid=4706&sub=&priorityCode=3969702399"><img src="http://qbgdm.intuit.com/affiliates/quickbooks/Upgrade_to_qb_120x60_06_wh.jpg" alt="Which QuickBooks is right for you?" width="120" height="60" border="0" style="border:none"/></a><br/>
                            <br/></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!--<tr align="right">
            <td colspan="2">

            <table width="468" height="60" border="0" cellspacing="0" cellpadding="10">
            <tr>
            <td>
            <img name="bannerswappable468x60" src="" width="468" height="60" alt="This space can be hidden until we have an image" />
            </td>
            </tr>
            </table>

            </td>
            </tr>-->


            <tr>

              <td colspan="2"><br/>
                <a href="http://quickbooks.intuit.com/product/add-ons/checks-forms-and-supplies/computer-payroll-sofware.jsp?img=216&kbid=4706&sub=&priorityCode=3969702399"><img src="http://qbgdm.intuit.com/affiliates/storefront/botom.gif" alt=offer2 width=597 height=102 border="0"/></a>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
            </tr>
          </table>


        </td>
      </tr>
    </table>

  </div>

</div>

  <div class="inner-main-right-white-left">

    <div id="adds">
      <%= render "quickbook_adds" %>
    </div>

  </div>

  <%= render "footer" %>
</div>
