<div class="white-bg-container">

  <%= render "header" %>




  <div class="main-left-double">
    <div class="content-banners">

    </div>
    <h1 class="h1_standard">Shop Online - Quickbooks</h1>

    <div class="shop_box_container">
      <h3 class="h3_blue">QuickBooks Pro</h3>
      <a href="http://quickbooks.intuit.com/product/accounting-software/small-business-accounting-software.jsp?priorityCode=3969702399&kbid=4706&img=quickbooks/box.pro.gold125x125.gif&sub=8076">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/box.pro.gold125x125.gif" border="0"></a>

      <p>QuickBooks Pro 2011 makes accounting easy with tools to organize your finances all in one place. Save time
        completing routine tasks so you can spend more time on your business.</p>
    </div>
    <div class="shop_box_container">
      <h3 class="h3_blue">QuickBooks Premier</h3>
      <a href="http://quickbooks.intuit.com/product/accounting-software/premier-edition-business-financial-software.jsp?priorityCode=3969702399&kbid=4706&img=quickbooks/prembox.gif&sub=8076">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/prembox.gif" border="0"></a>

      <p>QuickBooks Premier 2011 offers industry-specific and business planning tools tailored to help your company
        grow. Save time on routine tasks, monitor business performance and manage payables and receivables.</p>
    </div>

    <div class="shop_box_container">
      <h3 class="h3_blue">QuickBooks Premier Retail</h3>
      <a href="http://quickbooks.intuit.com/product/accounting-software/premier-edition-business-financial-software.jsp?priorityCode=3969702399&kbid=4706&img=quickbooks/prembox.gif&sub=">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/prembox.gif" border="0"></a>

      <p>QuickBooks Premier 2011 offers industry-specific reports to gain deeper insights specific to your business.</p>
    </div>

    <div class="shop_box_container">
      <h3 class="h3_blue">QuickBooks Manufacturing/Wholesale</h3>
      <a href="http://quickbooks.intuit.com/product/accounting-software/wholesale-distribution-software/?priorityCode=3969702399&kbid=4706&img=quickbooks/box.manu.gold125x125.gif&sub=8076">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/box.manu.gold125x125.gif" border="0"></a>

      <p>QuickBooks Premier Manufacturing & Wholesale Edition provides standard accounting tools, plus specialized tools
        for manufacturers, wholesalers, and distributors to easily manage inventory & costs, track customer orders, and
        run customized reports.</p>
    </div>

       <div class="shop_box_container">
      <h3 class="h3_blue">QuickBooks Payroll</h3>
      <a href="http://payroll.intuit.com/payroll_services/basic_payroll.jsp?priorityCode=3969702399 &kbid=4706&img=quickbooks/13043-r1_qb_pr_07_ws.jpg&sub=8076">
<img src="http://qbgdm.intuit.com/affiliates/quickbooks/13043-r1_qb_pr_07_ws.jpg" border="0"></a>
      <p>Basic Payroll - Pay employees and work with your accountant on taxes. Easily create paychecks yourself in QuickBooks. </p>
    </div>

    <div class="shop_box_container">
      <h3 class="h3_blue">QuickBooks Premier Nonprofit</h3>
      <a href="http://quickbooks.intuit.com/product/accounting-software/premier-nonprofit-organization-software.jhtml?priorityCode=3969702399&kbid=4706&img=quickbooks/box.nonprof.gold125x125.gif&sub=8076">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/box.nonprof.gold125x125.gif" border="0"></a>

      <p>QuickBooks Premier Nonprofit Edition provides tools to help your nonprofit organization demonstrate financial
        accountability. </p>
    </div>
    <div class="shop_box_container">
      <h3 class="h3_blue">QuickBooks Point of Sale </h3>
      <a href="http://quickbooks.intuit.com/product/accounting-software/retail-pos-solutions/point-of-sale-software.jhtml?priorityCode=3969702399&kbid=4706&img=quickbooks/box.posret.gold125x125.gif&sub=8076">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/box.posret.gold125x125.gif" border="0"></a>

      <p>QuickBooks Point of Sale makes it easy to track and manage your inventory, sales and customer information - so
        you can concentrate on running your business.</p>
    </div>
    <div class="shop_box_container">
      <h3 class="h3_blue">Training - Learn for Mac</h3>
      <a href="http://quickbooks.intuit.com/product/training/learning_quickbooks_mac.jhtml?priorityCode=3969702399&kbid=4706&img=quickbooks/13132-f1_qb_LRNmac_07_ws.jpg&sub=8076">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/13132-f1_qb_LRNmac_07_ws.jpg" border="0"></a>

      <p>Organize your business finances with ease with QuickBooks 2011 for Mac. Save time completing routine tasks and
        paperwork and spend more time on your business.</p>
    </div>
    <div class="shop_box_container">
      <h3 class="h3_blue">QuickBooks POS Credit Card Reader</h3>
      <a href="http://quickbooks.intuit.com/product/accounting-software/retail-pos-solutions/point-of-sale-hardware.jhtml?priorityCode=3969702399&kbid=4706&img=quickbooks/13051_r2_qb_poscardreader_ws.jpg&sub=8076">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/13051_r2_qb_poscardreader_ws.jpg" border="0"></a>

      <p>QuickBooks Enterprise Solutions business management software has the capabilities, flexibility, and ease of use
        to meet your business’ unique needs - at a fraction of the cost of other systems.</p>
    </div>
    <a href="http://quickbooks.intuit.com/product/accounting_software/pro_mac_financial_management_software.jhtml?priorityCode=3969702399&kbid=4706&img=quickbooks/mac_468x60.gif&sub=">
    <img src="http://qbgdm.intuit.com/affiliates/quickbooks/mac_468x60.gif" border="0"></a>

  </div>


  <div class="inner-main-right-white-left">
    <div id="contact_phone">
      <h1>Contact Us</h1>

      <p class="contact-box-text-color"><strong>Scott N. Mota</strong></p>

      <p class="contact-box-text-color"><em>Bookkeeping - Payroll - Taxes</em></p>
      <ul id="contact-box-list" class="contact-box-text-color">
        <li id="li-contact-phone"><strong>(209) 210-8847</strong></li>
        <li id="li-contact-email"><strong>motas@softcom.net</strong></li>
      </ul>
      <br/>
    </div>

    <div class="affiliate_container">
      <hr/>
      <a id="intuit_affiliate_logo" href="http://quickbooks.intuit.com/?priorityCode=3969702399&amp;kbid=4706&amp;img=quickbooks/7636-f1_qbg_133x75_05_wg.jpg&amp;sub=">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/7636-f1_qbg_133x75_05_wg.jpg" border="0">
      </a>
    </div>
  </div>

  <%= render "footer" %>


</div>
