<div class="white-bg-container">


  <%= render "header" %>



  <div class="main-left-double">


    <h1 class="h1_standard">Tax Preparation</h1>
    <p>As a California Tax Education Council Registered Tax Preparer, Scott Mota can help with your Individual and Small Business Tax needs.</p>
    <ul>
      <li>Tax strategies and planning for Individuals and Small Businesses</li>
      <li>Individual and Business Income Tax Preparation</li>
      <li>Estate and Trusts Tax Return Preparation</li>
      <li>Sales Tax Services</li>
      <li>Property Tax</li>
      <li>W2s</li>
      <li>1099s</li>
      <li>Corporate Tax Returns</li>
      <li>Turbo Tax</li>
    </ul>
    <%= image_tag("../../../images/financial_pics/1338212_business_man.jpg", :class => "img-float-left img-with-border") %>
    <a href="http://quickbooks.intuit.com/product/accounting_software/pro_mac_financial_management_software.jhtml?priorityCode=3969702399&kbid=4706&img=quickbooks/mac_468x60.gif&sub=">
        <img src="http://qbgdm.intuit.com/affiliates/quickbooks/mac_468x60.gif" border="0"></a>


  </div>

    <div class="inner-main-right-white-left">
      <div id="adds">
        <%= render "quickbook_adds" %>
      </div>

    </div>
  <%= render "footer" %>
</div>
