<div id="footer">
  <ul id="footer-nav-bar">
    <li>
      <a href="/main_pages/home">Home</a>
    </li>
    <li> | </li>
    <li>
      <a href="/main_pages/about">About</a>
    </li>
    <li> | </li>
    <li>
      <a href="/main_pages/payroll">Payroll</a>
    </li>
    <li> | </li>
    <li>
      <a href="/main_pages/quickbooks_consulting">Quickbooks</a>
    </li>
    <li> | </li>
    <li>
      <a href="/main_pages/bookkeeping">Bookkeeping</a>
    </li>
    <li> | </li>
    <li>
      <a href="/main_pages/tax_preparation">Taxes</a>
    </li>
    <li> | </li>
    <li>
      <a href="/posts">Blog</a>
    </li>
    <li> | </li>
    <li>
      <a href="/main_pages/shop">Shop</a>
    </li>
    <li> | </li>
    <li>
      <a href="/main_pages/contact">Contact</a>
    </li>
  </ul>
  <ul id="footer-copyright">
    <li>
      copyright @2011 - Scott N. Mota All rights reserved.
    </li>

    <li>
      Site design by Scott Fedorchak, hosted on <a href="http://www.heroku.com">Heroku</a>
    </li>
  </ul>
</div>
