<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Rock Your Balance Sheet | Scott Mota Quickbooks Pro</title>

  <%= stylesheet_link_tag "main_pages_style", :media => "all"%>
    <%= stylesheet_link_tag "header", :media => "all"%>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

  <meta name="Description" content="Quickbooks consulting tax preparation bookkeeping Lodi elk grove" />
<meta name="Keywords" content="Quickbooks consulting tax preparation bookkeeping Lodi elk grove" />
</head>

<body>

<%= yield %>

</body>
</html>
